require 'date'
<!DOCTYPE html>

<html>
require 'date'
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Today</h1>
    <p><% d = Time.now.strftime("%A, %B %d, %Y") %> <%= "The date is #{d}" %></p>
  </body>
</html>
